form {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input , textarea{
    padding: 1rem;
    margin: 1rem;
}

button{
    padding: 1rem 3rem;
}
