.menu-button-div{
    position: absolute;
    right: 0;
    /* top: 1rem; */
    padding: 1rem;
   
}

.menu-button {
    background: none;
    display: flex;
    color: var(--white-100);
    align-items: center;
    padding: .9rem 1.2rem;
   


    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;

    font-size: 1.5rem;

    font-weight: 500;


    cursor: pointer;

    border: 1px solid var(--white-100);
}

.menu-button:hover {
    background-color: var(--background);
    cursor: pointer;
}
